<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.spzx.manager.mapper.SysMenuMapper">

    <resultMap id="BaseResultMap" type="com.atguigu.spzx.model.vo.SysMenuVo">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="parentId" column="parent_id" jdbcType="BIGINT"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="component" column="component" jdbcType="VARCHAR"/>
        <result property="sortValue" column="sort_value" jdbcType="INTEGER"/>
        <result property="status" column="status" jdbcType="TINYINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <resultMap id="BaseResultMap1" type="com.atguigu.spzx.model.entity.SysMenu">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="parentId" column="parent_id" jdbcType="BIGINT"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="component" column="component" jdbcType="VARCHAR"/>
        <result property="sortValue" column="sort_value" jdbcType="INTEGER"/>
        <result property="status" column="status" jdbcType="TINYINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <resultMap id="BaseResultMap2" type="com.atguigu.spzx.model.vo.SysMenuVo1">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="parentId" column="parent_id" jdbcType="BIGINT"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="component" column="component" jdbcType="VARCHAR"/>
        <result property="sortValue" column="sort_value" jdbcType="INTEGER"/>
        <result property="status" column="status" jdbcType="TINYINT"/>
    </resultMap>

    <resultMap id="sysMenuMap" type="com.atguigu.spzx.model.entity.SysMenu1" autoMapping="true"/>

    <sql id="Base_Column_List">
        id,parent_id,title,
        component,sort_value,status,
        create_time,update_time,is_deleted
    </sql>

    <sql id="Base_Column_List1">
        id,parent_id,title,
        component,sort_value,status
    </sql>

    <!--    List<SysMenuVo> findNodes();-->
    <!--    <select id="findNodes" resultMap="BaseResultMap">-->
    <!--        select <include refid="Base_Column_List"/>-->
    <!--        from db_spzx.sys_menu-->
    <!--        where is_deleted = 0-->
    <!--        order by sort_value-->
    <!--    </select>-->

    <!--    List<SysMenuVo1> findNodes();-->
    <select id="findNodes" resultMap="BaseResultMap2">
        select
        <include refid="Base_Column_List1"/>
        from db_spzx.sys_menu
        where is_deleted = 0
        order by sort_value
    </select>

    <!--    List<Long> findRoleMenuIds(Long roleId);-->
    <select id="findRoleMenuIds" resultType="Long">
        select menu_id
        from db_spzx.sys_role_menu
        where is_deleted = 0
          and is_half = 0
          and role_id = #{roleId}
    </select>

<!--    sql排序顺序直接影响到后面构建tree-->
    <!--    List<DynamicMenusVo> findDynamicMenus(Long userId);-->
    <select id="findDynamicMenus" resultType="com.atguigu.spzx.model.vo.DynamicMenusVo">
        select distinct t1.id,
                        t1.parent_id,
                        t1.title,
                        t1.component as name
        from db_spzx.sys_menu t1
                 inner join db_spzx.sys_role_menu t2
                            on t1.is_deleted = 0
                                and t2.is_deleted = 0
                                and t1.id = t2.menu_id
                 inner join db_spzx.sys_user_role t3
                            on t2.is_deleted = 0
                                and t3.is_deleted = 0
                                and t2.role_id = t3.role_id
        where t3.user_id = #{userId}
        order by t1.parent_id, t1.id
    </select>

    <!--    List<SysMenu> selectListByUserId(Long userId);-->
    <select id="selectListByUserId" resultMap="sysMenuMap">
        SELECT DISTINCT m.*
        FROM db_spzx.sys_menu m
                 INNER JOIN db_spzx.sys_role_menu rm ON rm.menu_id = m.id
                 INNER JOIN db_spzx.sys_user_role ur ON ur.role_id = rm.role_id
        WHERE ur.user_id = #{userId}
          and m.is_deleted = 0
    </select>
</mapper>
