<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.spzx.manager.mapper.SysRoleUserMapper">

    <!--List<Long> findAllRoles(Integer id);-->
    <select id="findAllRoles" resultType="Long">
        select id
        from db_spzx.sys_role
        where is_deleted = 0
          and id in (select role_id
                     from db_spzx.sys_user_role
                     where is_deleted = 0
                       and user_id = #{id})
    </select>
</mapper>
