<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.spzx.manager.mapper.SysRoleMapper">

    <!--    IPage<SysRole> getSysRolePage(Page<SysRole> page, SysRoleDto sysRoleDto);-->

    <select id="getSysRolePage" resultType="com.atguigu.spzx.model.entity.system.SysRole">
        select id,
               role_name,
               role_code,
               description,
               create_time
        from db_spzx.sys_role
        <where>
            is_deleted = 0
            <if test="sysRoleDto.roleName != '' and sysRoleDto.roleName != null ">
                and role_name like concat('%', #{sysRoleDto.roleName}, '%')
            </if>
        </where>
    </select>
</mapper>
