<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.spzx.manager.mapper.SysUserMapper">

    <resultMap id="BaseResultMap" type="com.atguigu.spzx.model.entity.SysUser">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="TINYINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,username,password,
        name,phone,avatar,
        description,status,create_time,
        update_time,is_deleted
    </sql>

    <!--    Page<SysUser> findByPage(Page<SysUser> page, SysUserDto sysUserDto);-->
    <select id="findByPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from db_spzx.sys_user
        <where>
            is_deleted = 0
            <if test="sysUserDto.keyword != null and sysUserDto.keyword != '' ">
                and username like concat('%', #{sysUserDto.keyword}, '%')
            </if>
            <if test="sysUserDto.createTimeBegin != null and sysUserDto.createTimeBegin != '' ">
                and create_time &gt;= #{sysUserDto.createTimeBegin}
            </if>
            <if test="sysUserDto.createTimeEnd != null and sysUserDto.createTimeEnd != '' ">
                and create_time &lt;= #{sysUserDto.createTimeEnd}
            </if>
        </where>
    </select>

<!--    void doAssign(Long userId, List<Long> roleIdList);-->
    <insert id="doAssign" >
        insert into db_spzx.sys_user_role
            (user_id, role_id)
        values
            <foreach collection="roleIdList" item="roleId" separator=",">
                (#{userId}, #{roleId})
            </foreach>

    </insert>

<!--    void deleteSysUserRoleByUserId(Long userId);-->
    <delete id="deleteSysUserRoleByUserId">
        update db_spzx.sys_user_role
        set is_deleted = 1
        where is_deleted = 0
        and user_id = #{userId}
    </delete>
</mapper>
